*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  --color0: #f1f1f1;
  --colorX: #222;
}

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 7em;
  background: #ffffff;
  z-index: 100;
  -webkit-box-shadow: 0 10px 5px -7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 5px -7px rgba(0, 0, 0, 0.1);
}

.Home {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Home .the-home-slider-container {
  width: 100%;
  z-index: 2;
  margin-top: 8em;
  overflow: hidden;
}

.Home .shop-new {
  margin-top: 3em;
  width: 100%;
  height: 20em;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Home .shop-new .new-items {
  width: 20em;
  height: 20em;
  background: var(--colorX);
}

.Home .products-recommendation {
  width: 100%;
  height: 20em;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home .products-recommendation .products-recommendation-text {
  widows: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home .products-recommendation .products-recommendation-slider {
  width: 70%;
  height: 100%;
}

.Home .divers-items {
  width: 100%;
  height: 50em;
  background: var(--colorX);
}

.new-slider {
  height: 20em;
  overflow: hidden;
  margin: auto;
}

.new-slider .arrows {
  position: absolute;
  top: 50%;
  width: 2em;
  height: 2em;
  background: seashell;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.2em;
  -webkit-transition: -webkit-transform ease-in 0.1s;
  transition: -webkit-transform ease-in 0.1s;
  transition: transform ease-in 0.1s;
  transition: transform ease-in 0.1s, -webkit-transform ease-in 0.1s;
}

.new-slider .arrows:hover {
  -webkit-transform: translate(0%, -50%) scale(1.1);
          transform: translate(0%, -50%) scale(1.1);
}

.new-slider .arrows:active {
  -webkit-transform: translate(0%, -50%) scale(1);
          transform: translate(0%, -50%) scale(1);
}

.new-slider .new-slider-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

.new-slider .new-slider-container .new-slide {
  height: 20em;
  background-size: 100%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.new-slider .new-slider-container .new-slide .scroll-items {
  margin-left: 2em;
  width: 30%;
  height: 90%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.new-slider .new-slider-container .new-slide .scroll-items:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=style.css.map */